:root {
  --font-family: "Sen", sans-serif;
  --global-background: #fff;
  --global-background-dark: #1f1f1f;
  --font-color-dark: #282c35;
  --font-color-desc: #ababab;
  --font-color-link: #e1e1e1;

  --xl: 48px;
  --l: 32px;
  --lx: 36px;
  --m: 24px;
  --s: 20px;
  --xs: 18px;
  --xxs: 16px;

  --col-1: 8.33%;
  --col-2: 16.66%;
  --col-3: 25%;
  --col-4: 33.33%;
  --col-5: 41.66%;
  --col-6: 50%;
  --col-7: 58.33%;
  --col-8: 66.66%;
  --col-9: 75%;
  --col-10: 83.33%;
  --col-11: 91.66%;
  --col-12: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}
